<td>
  <div>
    <span class="button-checkbox">
                        <button id="button-checkbox-{{ position_id }}" type="button" class="btn btn-block button-checkbox-btn" data-color="primary">Ich helfe!</button>
                        <input type="checkbox" class="hidden"
                               onchange="handleToggleOtpButton(this)"
                               data-entries="{{ entries }}"
                               data-position="{{ position_id }}"
                               data-csrftoken="{{ csrf_token }}" {{ precheck }}>
    </span>
  </div>
</td>
<td>
  <a data-toggle="collapse" href="#otp-collapse-{{ position_id }}">
    <span id="otp-{{ position_id }}">{{ entries|length }}</span>  gemeldet
  </a>
  <div class="collapse" id="otp-collapse-{{ position_id }}">
    <ul class="list-group">
    {% for entry in entries %}
      <li class="list-group-item" style="padding: 5px">{{ entry }}</li>
    {% endfor %}
    </ul>
  </div>
</td>